# FedEM Attack Analysis

TJ Kim
11.5.21

#### Summary:
- Load the locally trained model and FedEM model
- nodes = 3, mixtures = 3

In [1]:
cd /home/ubuntu/FedEM/

/home/ubuntu/FedEM

### Import Relevant Libraries
Take it from the run_experiment.py folder

In [2]:
# Import General Libraries
import os
import argparse
import torch
import copy
import pickle
import random
import numpy as np
import pandas as pd

# Import FedEM based Libraries
from utils.utils import *
from utils.constants import *
from utils.args import *
from torch.utils.tensorboard import SummaryWriter
from run_experiment import *
from models import *

# Import Transfer Attack
from transfer_attacks.Personalized_NN import *
from transfer_attacks.Params import *
from transfer_attacks.Transferer import *
from transfer_attacks.Args import *

### Generate Aggregator Pre-requisite
- Clients, Test Clients, Ensemble_Learner
- Follow through the code in run_experiment.py

In [3]:
# Manually set argument parameters
args_ = Args()
args_.experiment = "cifar10"
args_.method = "FedEM"
args_.decentralized = False
args_.sampling_rate = 1.0
args_.input_dimension = None
args_.output_dimension = None
args_.n_learners= 3
args_.n_rounds = 10
args_.bz = 128
args_.local_steps = 1
args_.lr_lambda = 0
args_.lr =0.03
args_.lr_scheduler = 'multi_step'
args_.log_freq = 10
args_.device = 'cuda'
args_.optimizer = 'sgd'
args_.mu = 0
args_.communication_probability = 0.1
args_.q = 1
args_.locally_tune_clients = False
args_.seed = 1234
args_.verbose = 1
args_.save_path = 'weights/cifar/21_09_28_first_transfers/'
args_.validation = False

# Generate the dummy values here
aggregator, clients = dummy_aggregator(args_)

==> Clients initialization..
===> Building data iterators..

100%|██████████████████████████████████████████| 80/80 [00:00<00:00, 187.66it/s]

===> Initializing clients..

100%|███████████████████████████████████████████| 80/80 [00:31<00:00,  2.56it/s]

==> Test Clients initialization..
===> Building data iterators..

0it [00:00, ?it/s]

===> Initializing clients..

0it [00:00, ?it/s]

++++++++++++++++++++++++++++++
Global..
Train Loss: 2.292 | Train Acc: 12.159% |Test Loss: 2.292 | Test Acc: 12.248% |
++++++++++++++++++++++++++++++++++++++++++++++++++
################################################################################

In [4]:
# Import weights for aggregator
aggregator.load_state(args_.save_path)

# This is where the models are stored -- one for each mixture --> learner.model for nn
hypotheses = aggregator.global_learners_ensemble.learners

# obtain the state dict for each of the weights 
weights_h = []

for h in hypotheses:
    weights_h += [h.model.state_dict()]

In [5]:
weights = np.load("weights/cifar/21_09_28_first_transfers/train_client_weights.npy")
np.set_printoptions(formatter={'float': lambda x: "{0:0.2f}".format(x)})

#print(weights)

# Set model weights
model_weights = []
num_models = 7

for i in range(num_models):
    model_weights += [weights[i]]
    
    
# Generate the weights to test on as linear combinations of the model_weights
models_test = []

for (w0,w1,w2) in model_weights:
    # first make the model with empty weights
    new_model = copy.deepcopy(hypotheses[0].model)
    new_model.eval()
    new_weight_dict = copy.deepcopy(weights_h[0])
    for key in weights_h[0]:
        new_weight_dict[key] = w0*weights_h[0][key] + w1*weights_h[1][key] + w2*weights_h[2][key]
    new_model.load_state_dict(new_weight_dict)
    models_test += [new_model]

### Generate Data

In [6]:
# Combine Validation Data across all clients as test
data_x = []
data_y = []

for i in range(len(clients)):
    daniloader = clients[i].val_iterator
    for (x,y,idx) in daniloader.dataset:
        data_x.append(x)
        data_y.append(y)

data_x = torch.stack(data_x)
data_y = torch.stack(data_y)

In [7]:
# Create dataloader from validation dataset that allows for diverse batch size
dataloader = Custom_Dataloader(data_x, data_y)

### Set Up Transfer Attack Scenario
- Set up order of which attacks will take place -- keep the same transferer, but simply swap out the weights of the adversary and flush out the existing data points analysis was done on
- Make dictionaries beforehand recording all of the metrics

In [8]:
# Set Up Dictionaries -- list holds the adversary idx
logs_adv = []

for i in range(len(model_weights)):
    adv_dict = {}
    adv_dict['orig_acc_transfers'] = None
    adv_dict['orig_similarities'] = None
    adv_dict['adv_acc_transfers'] = None
    adv_dict['adv_similarities'] = None
    adv_dict['orig_target_hit'] = None
    adv_dict['adv_target_hit'] = None
    adv_dict['metric_variance'] = None
    adv_dict['metric_alignment'] = None
    adv_dict['metric_ingrad'] = None
    logs_adv += [adv_dict]

In [9]:
# Make transferer and Assign model index
victim_idxs = [0,1,2,3,4,5,6]

for adv_idx in victim_idxs:
    print("id", adv_idx)
    # Perform Attack
    t1 = Transferer(models_list=models_test, dataloader=dataloader)
    
    # atk Params setup
    t1.ifsgm_params.set_params(batch_size=500, eps=0.1, alpha=0.05, iteration = 30,
                   target = 9, x_val_min = torch.min(data_x), x_val_max = torch.max(data_x))
    
    
    t1.generate_victims(victim_idxs)
    t1.generate_advNN(adv_idx)
    t1.generate_xadv(atk_type = "ifsgm")
    t1.send_to_victims(victim_idxs)
    t1.check_empirical_metrics(orig_flag = True)
    # t1.check_empirical_metrics()
    
    # Log Performance
    logs_adv[adv_idx]['orig_acc_transfers'] = t1.orig_acc_transfers
    logs_adv[adv_idx]['orig_similarities'] = t1.orig_similarities
    logs_adv[adv_idx]['adv_acc_transfers'] = t1.adv_acc_transfers
    logs_adv[adv_idx]['adv_similarities'] = t1.adv_similarities
    logs_adv[adv_idx]['orig_target_hit'] = t1.orig_target_hit
    logs_adv[adv_idx]['adv_target_hit'] = t1.adv_target_hit
    
    logs_adv[adv_idx]['metric_variance'] = t1.metric_variance
    logs_adv[adv_idx]['metric_alignment'] = t1.metric_alignment
    logs_adv[adv_idx]['metric_ingrad'] = t1.metric_ingrad

id 0
id 1
id 2
id 3
id 4
id 5
id 6

### Print and Record Results
- Organize the results into a matrix and print them into an excel sheet
- Following Categories (sim_benign, sim_adv, target_adv,grad_alignment)

In [10]:
metrics = ['orig_acc_transfers','orig_similarities','adv_similarities','adv_target_hit','metric_alignment']

orig_acc = np.zeros([len(victim_idxs),len(victim_idxs)]) 
sim_benign = np.zeros([len(victim_idxs),len(victim_idxs)]) 
sim_adv = np.zeros([len(victim_idxs),len(victim_idxs)]) 
target_adv = np.zeros([len(victim_idxs),len(victim_idxs)]) 
grad_align = np.zeros([len(victim_idxs),len(victim_idxs)])

In [11]:
for adv_idx in victim_idxs:
    for victim in victim_idxs:
        orig_acc[adv_idx,victim] = logs_adv[adv_idx][metrics[0]][victim].data.tolist()
        sim_benign[adv_idx,victim] = logs_adv[adv_idx][metrics[1]][victim].data.tolist()
        sim_adv[adv_idx,victim] = logs_adv[adv_idx][metrics[2]][victim].data.tolist()
        target_adv[adv_idx,victim] = logs_adv[adv_idx][metrics[3]][victim].data.tolist()
        grad_align[adv_idx,victim] = logs_adv[adv_idx][metrics[4]][victim].data.tolist()

In [12]:
# Save to Excel file

## convert your array into a dataframe
orig_acc_df = pd.DataFrame(orig_acc)
sim_benign_df = pd.DataFrame(sim_benign)
sim_adv_df = pd.DataFrame(sim_adv)
target_adv_df = pd.DataFrame(target_adv)
grad_align_df = pd.DataFrame(grad_align)

## save to xlsx file

#filepath = 'my_excel_file.xlsx'

# df.to_excel(filepath, index=False)

In [13]:
orig_acc_df

       0      1      2      3      4      5      6
0  0.830  0.756  0.838  0.778  0.816  0.788  0.800
1  0.788  0.766  0.840  0.806  0.820  0.738  0.756
2  0.850  0.746  0.856  0.800  0.814  0.808  0.824
3  0.818  0.794  0.844  0.806  0.852  0.760  0.782
4  0.870  0.808  0.876  0.808  0.862  0.830  0.850
5  0.808  0.764  0.870  0.834  0.846  0.746  0.780
6  0.800  0.756  0.846  0.796  0.842  0.740  0.754

In [14]:
sim_benign_df

       0      1      2      3      4      5      6
0  1.000  0.768  0.856  0.644  0.752  0.908  0.938
1  0.778  1.000  0.784  0.740  0.774  0.822  0.816
2  0.864  0.768  1.000  0.804  0.878  0.820  0.854
3  0.678  0.748  0.766  1.000  0.872  0.638  0.656
4  0.802  0.800  0.920  0.886  1.000  0.766  0.794
5  0.886  0.806  0.794  0.646  0.722  1.000  0.946
6  0.918  0.806  0.796  0.628  0.714  0.962  1.000

In [15]:
sim_adv_df

       0      1      2      3      4      5      6
0  1.000  0.878  0.918  0.606  0.774  0.984  0.996
1  0.874  1.000  0.854  0.828  0.814  0.934  0.922
2  0.928  0.928  1.000  0.840  0.976  0.930  0.938
3  0.730  0.922  0.878  1.000  0.928  0.770  0.766
4  0.836  0.894  0.972  0.940  1.000  0.844  0.854
5  0.982  0.942  0.872  0.586  0.748  1.000  0.996
6  0.988  0.928  0.910  0.580  0.776  0.994  1.000

In [16]:
target_adv_df

       0      1      2      3      4      5      6
0  0.966  0.852  0.890  0.580  0.748  0.960  0.966
1  0.836  0.952  0.812  0.784  0.772  0.900  0.884
2  0.884  0.878  0.930  0.790  0.918  0.884  0.890
3  0.686  0.852  0.800  0.906  0.838  0.734  0.728
4  0.804  0.856  0.930  0.878  0.926  0.814  0.824
5  0.932  0.896  0.828  0.550  0.706  0.944  0.944
6  0.950  0.898  0.878  0.554  0.750  0.956  0.960

In [17]:
grad_align_df

          0         1         2         3         4         5         6
0  0.000000  1.153154  0.954460  1.277720  1.101934  0.721581  0.599849
1  1.166391  0.000000  1.123200  1.146331  1.124429  1.057845  1.079593
2  0.980678  1.130830  0.000000  1.165161  0.733842  1.035374  0.978689
3  1.311045  1.167725  1.152213  0.000000  1.026636  1.308905  1.299370
4  1.142763  1.132006  0.723722  1.030719  0.000000  1.158177  1.127377
5  0.740003  1.053482  1.028049  1.286529  1.140728  0.000000  0.466798
6  0.617748  1.092278  0.978823  1.268673  1.122034  0.461877  0.000000

In [18]:
# Average all the information together and present
orig_acc_mean = np.mean(orig_acc)
sim_benign_mean = np.mean((sim_benign.sum(1)-1)/(sim_benign.shape[1]-1))
sim_adv_mean = np.mean((sim_adv_df.sum(1)-1)/(sim_adv_df.shape[1]-1))
target_adv_mean = np.mean((target_adv.sum(1)-1)/(target_adv.shape[1]-1))
grad_align_mean = np.mean((grad_align.sum(1)-0)/(grad_align.shape[1]-0))

print("orig_acc_mean", orig_acc_mean)
print("Sim Benign Mean", sim_benign_mean)
print("Sim ADV Mean", sim_adv_mean)
print("Target ADV Mean", target_adv_mean)
print("Grad Align Mean", grad_align_mean)

orig_acc_mean 0.8073469789660707
Sim Benign Mean 0.7980476546855201
Sim ADV Mean 0.8704286075773693
Target ADV Mean 0.8190000468776341
Grad Align Mean 0.8850762655540388