# FedEM Attack Analysis

TJ Kim
11.5.21

#### Summary:
- Load the locally trained model and FedEM model
- nodes = 3, mixtures = 3

In [1]:
cd /home/ubuntu/FedEM/

/home/ubuntu/FedEM

### Import Relevant Libraries
Take it from the run_experiment.py folder

In [2]:
# Import General Libraries
import os
import argparse
import torch
import copy
import pickle
import random
import numpy as np
import pandas as pd

# Import FedEM based Libraries
from utils.utils import *
from utils.constants import *
from utils.args import *
from torch.utils.tensorboard import SummaryWriter
from run_experiment import *
from models import *

# Import Transfer Attack
from transfer_attacks.Personalized_NN import *
from transfer_attacks.Params import *
from transfer_attacks.Transferer import *
from transfer_attacks.Args import *

from transfer_attacks.TA_utils import *

### Generate Aggregator Pre-requisite
- Clients, Test Clients, Ensemble_Learner
- Follow through the code in run_experiment.py

In [10]:
# Manually set argument parameters
args_ = Args()
args_.experiment = "cifar10"
args_.method = "FedEM"
args_.decentralized = False
args_.sampling_rate = 1.0
args_.input_dimension = None
args_.output_dimension = None
args_.n_learners= 3
args_.n_rounds = 10
args_.bz = 128
args_.local_steps = 1
args_.lr_lambda = 0
args_.lr =0.03
args_.lr_scheduler = 'multi_step'
args_.log_freq = 10
args_.device = 'cuda'
args_.optimizer = 'sgd'
args_.mu = 0
args_.communication_probability = 0.1
args_.q = 1
args_.locally_tune_clients = False
args_.seed = 1234
args_.verbose = 1
args_.save_path = 'weights/cifar/21_12_30_feddef2_n40_linf0_5/'
args_.validation = False

# Generate the dummy values here
aggregator, clients = dummy_aggregator(args_, num_user=40)

==> Clients initialization..
===> Building data iterators..

100%|██████████████████████████████████████████| 80/80 [00:00<00:00, 221.35it/s]

===> Initializing clients..

100%|███████████████████████████████████████████| 80/80 [00:26<00:00,  2.96it/s]

==> Test Clients initialization..
===> Building data iterators..

0it [00:00, ?it/s]

===> Initializing clients..

0it [00:00, ?it/s]

++++++++++++++++++++++++++++++
Global..
Train Loss: 2.292 | Train Acc: 12.195% |Test Loss: 2.292 | Test Acc: 12.291% |
++++++++++++++++++++++++++++++++++++++++++++++++++
################################################################################

### Generate Data

In [14]:
# Combine Validation Data across all clients as test
data_x = []
data_y = []

for i in range(len(clients)):
    daniloader = clients[i].val_iterator
    for (x,y,idx) in daniloader.dataset:
        data_x.append(x)
        data_y.append(y)

data_x = torch.stack(data_x)
data_y = torch.stack(data_y)

In [15]:
# Create dataloader from validation dataset that allows for diverse batch size
dataloader = Custom_Dataloader(data_x, data_y)

### Load Model of specific type

In [12]:
# Change name if need be
args_.save_path = 'weights/cifar/21_12_30_feddef2_n40_linf0_5/'

# Import weights for aggregator
aggregator.load_state(args_.save_path)

# This is where the models are stored -- one for each mixture --> learner.model for nn
hypotheses = aggregator.global_learners_ensemble.learners

# obtain the state dict for each of the weights 
weights_h = []

for h in hypotheses:
    weights_h += [h.model.state_dict()]

In [13]:
weight_name = args_.save_path + 'train_client_weights.npy'
weights = np.load(weight_name)
np.set_printoptions(formatter={'float': lambda x: "{0:0.2f}".format(x)})

#print(weights)

# Set model weights
model_weights = []
num_models = 40

for i in range(num_models):
    model_weights += [weights[i]]
    
    
# Generate the weights to test on as linear combinations of the model_weights
models_test = []

for (w0,w1,w2) in model_weights:
    # first make the model with empty weights
    new_model = copy.deepcopy(hypotheses[0].model)
    new_model.eval()
    new_weight_dict = copy.deepcopy(weights_h[0])
    for key in weights_h[0]:
        new_weight_dict[key] = w0*weights_h[0][key] + w1*weights_h[1][key] + w2*weights_h[2][key]
    new_model.load_state_dict(new_weight_dict)
    models_test += [new_model]

### Set Up Transfer Attack Scenario
- Set up order of which attacks will take place -- keep the same transferer, but simply swap out the weights of the adversary and flush out the existing data points analysis was done on
- Make dictionaries beforehand recording all of the metrics

In [16]:
# Set Up Dictionaries -- list holds the adversary idx
logs_adv = []

for i in range(len(model_weights)):
    adv_dict = {}
    adv_dict['orig_acc_transfers'] = None
    adv_dict['orig_similarities'] = None
    adv_dict['adv_acc_transfers'] = None
    adv_dict['adv_similarities'] = None
    adv_dict['orig_target_hit'] = None
    adv_dict['adv_target_hit'] = None
    adv_dict['metric_variance'] = None
    adv_dict['metric_alignment'] = None
    adv_dict['metric_ingrad'] = None
    logs_adv += [adv_dict]

In [30]:
# Make transferer and Assign model index
victim_idxs =[0,1,2,3,4,5,6]# [0,41,42,43,44,45,46] #  Include other models for analysis?

for adv_idx in victim_idxs:
    print("id", adv_idx)
    # Perform Attack
    t1 = Transferer(models_list=models_test, dataloader=dataloader)
    
    # atk Params setup
    t1.atk_params.set_params(batch_size=500, eps=0.1, alpha=0.05, iteration = 30,
                   target = 5, x_val_min = torch.min(data_x), x_val_max = torch.max(data_x))
    
    t1.atk_params = PGD_Params()
    t1.atk_params.set_params(batch_size=500, iteration = 30,
                   target = 5, x_val_min = torch.min(data_x), x_val_max = torch.max(data_x),
                   step_size = 0.05, step_norm = "inf", eps = 4.5, eps_norm = 2)

    
    t1.generate_victims(victim_idxs)
    t1.generate_advNN(adv_idx)
    t1.generate_xadv(atk_type = "pgd")
    t1.send_to_victims(victim_idxs)
    # t1.check_empirical_metrics(orig_flag = True)
    # t1.check_empirical_metrics()
    
    # Log Performance
    logs_adv[adv_idx]['orig_acc_transfers'] = t1.orig_acc_transfers
    logs_adv[adv_idx]['orig_similarities'] = t1.orig_similarities
    logs_adv[adv_idx]['adv_acc_transfers'] = t1.adv_acc_transfers
    logs_adv[adv_idx]['adv_similarities'] = t1.adv_similarities
    logs_adv[adv_idx]['orig_target_hit'] = t1.orig_target_hit
    logs_adv[adv_idx]['adv_target_hit'] = t1.adv_target_hit
    
    logs_adv[adv_idx]['metric_variance'] = t1.metric_variance
    logs_adv[adv_idx]['metric_alignment'] = t1.metric_alignment
    logs_adv[adv_idx]['metric_ingrad'] = t1.metric_ingrad

id 0
id 1
id 2
id 3
id 4
id 5
id 6

### Print and Record Results
- Organize the results into a matrix and print them into an excel sheet
- Following Categories (sim_benign, sim_adv, target_adv,grad_alignment)

In [31]:
metrics = ['orig_acc_transfers','orig_similarities','adv_similarities','adv_target_hit','metric_alignment']

orig_acc = np.zeros([len(victim_idxs),len(victim_idxs)]) 
sim_benign = np.zeros([len(victim_idxs),len(victim_idxs)]) 
sim_adv = np.zeros([len(victim_idxs),len(victim_idxs)]) 
target_adv = np.zeros([len(victim_idxs),len(victim_idxs)]) 
# grad_align = np.zeros([len(victim_idxs),len(victim_idxs)])

In [32]:
for adv_idx in range(len(victim_idxs)):
    for victim in range(len(victim_idxs)):
        orig_acc[adv_idx,victim] = logs_adv[victim_idxs[adv_idx]][metrics[0]][victim_idxs[victim]].data.tolist()
        sim_benign[adv_idx,victim] = logs_adv[victim_idxs[adv_idx]][metrics[1]][victim_idxs[victim]].data.tolist()
        sim_adv[adv_idx,victim] = logs_adv[victim_idxs[adv_idx]][metrics[2]][victim_idxs[victim]].data.tolist()
        target_adv[adv_idx,victim] = logs_adv[victim_idxs[adv_idx]][metrics[3]][victim_idxs[victim]].data.tolist()
#         grad_align[adv_idx,victim] = logs_adv[adv_idx][metrics[4]][victim].data.tolist()

In [33]:
# Save to Excel file

## convert your array into a dataframe
orig_acc_df = pd.DataFrame(orig_acc)
sim_benign_df = pd.DataFrame(sim_benign)
sim_adv_df = pd.DataFrame(sim_adv)
target_adv_df = pd.DataFrame(target_adv)
# grad_align_df = pd.DataFrame(grad_align)

## save to xlsx file

#filepath = 'my_excel_file.xlsx'

# df.to_excel(filepath, index=False)

In [34]:
orig_acc_df

       0      1      2      3      4      5      6
0  0.684  0.776  0.738  0.660  0.602  0.744  0.744
1  0.678  0.776  0.738  0.688  0.620  0.754  0.754
2  0.690  0.754  0.744  0.688  0.634  0.750  0.750
3  0.678  0.758  0.710  0.666  0.602  0.714  0.716
4  0.656  0.740  0.704  0.670  0.634  0.716  0.720
5  0.668  0.752  0.726  0.656  0.626  0.742  0.746
6  0.680  0.776  0.732  0.688  0.626  0.742  0.744

In [35]:
sim_benign_df

       0      1      2      3      4      5      6
0  1.000  0.758  0.856  0.544  0.486  0.834  0.822
1  0.750  1.000  0.894  0.642  0.530  0.924  0.930
2  0.854  0.902  1.000  0.634  0.516  0.986  0.974
3  0.520  0.632  0.580  1.000  0.724  0.588  0.590
4  0.474  0.516  0.498  0.698  1.000  0.496  0.504
5  0.830  0.894  0.946  0.576  0.490  1.000  0.984
6  0.844  0.920  0.972  0.614  0.508  0.990  1.000

In [36]:
sim_adv_df

       0      1      2      3      4      5      6
0  1.000  0.598  0.874  0.368  0.310  0.824  0.804
1  0.522  1.000  0.650  0.264  0.234  0.720  0.744
2  0.778  0.778  1.000  0.318  0.266  0.960  0.940
3  0.472  0.446  0.488  1.000  0.572  0.482  0.474
4  0.500  0.486  0.496  0.668  1.000  0.492  0.492
5  0.724  0.820  0.950  0.342  0.280  1.000  0.982
6  0.702  0.836  0.894  0.316  0.238  0.970  1.000

In [37]:
target_adv_df

       0      1      2      3      4      5      6
0  0.570  0.258  0.506  0.054  0.054  0.472  0.454
1  0.290  0.604  0.382  0.048  0.046  0.434  0.452
2  0.406  0.416  0.562  0.048  0.032  0.562  0.556
3  0.338  0.306  0.340  0.250  0.050  0.332  0.322
4  0.270  0.128  0.196  0.048  0.176  0.180  0.172
5  0.414  0.498  0.582  0.062  0.048  0.610  0.612
6  0.378  0.516  0.544  0.044  0.046  0.610  0.624

In [38]:
# grad_align_df

In [39]:
# Average all the information together and present
orig_acc_mean = np.mean(orig_acc)
sim_benign_mean = np.mean(sim_benign)
sim_adv_mean = np.mean(sim_adv_df)
target_adv_mean = np.mean(target_adv)
# grad_align_mean = np.mean((grad_align.sum(1)-0)/(grad_align.shape[1]-0))

print("orig_acc_mean", orig_acc_mean)
print("Sim Benign Mean", sim_benign_mean)
# print("Sim ADV Mean", sim_adv_mean)
print("Target ADV Mean", target_adv_mean)
# print("Grad Align Mean", grad_align_mean)

orig_acc_mean 0.7051837018557957
Sim Benign Mean 0.7596734993311823
Target ADV Mean 0.32453062993531323

In [41]:
# Calculate average distance norm across examples
delta = t1.x_adv - t1.x_orig
dnorm = delta.view(delta.shape[0], -1).norm(float("inf"), dim=1)
print(torch.mean(dnorm))
print(torch.max(dnorm))

tensor(0.1562, device='cuda:0', grad_fn=<MeanBackward0>)
tensor(0.2806, device='cuda:0', grad_fn=<MaxBackward1>)

In [28]:
# IFSGM
4.5347 # mean
4.8902 # Max
0.8203 # Mean transfer rate

0.8203

In [29]:
# PGD
4.4978 # mean perturbation
4.5000 # Max perturbation
0.8594 # Mean transfer rate

0.8594

In [ ]:
# Print image of L2 norm of different values